<div class="login-container">
  <h1>Login to Your Account</h1>
  <form action="/login" method="POST">
  <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Username" autocomplete="username" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password" autocomplete="current-password" required>
    
    <button type="submit">Login</button>
  </form>
</div>
